* {
    text-align: center;
    background-color: white;
    font-family: Arial, sans-serif;
}

/* Stylisé la partie Corps de la page*/
body {
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
}

/* Stylisé la partie l'entete de la page dont le header */
.entete {
    background-color: gray ;
}

h1 ,
p {
    background-color: gray;
}

/* Stylisé la partie important dont le main */
main {
    margin: 20px auto;
    margin-top: 0;
    padding: 10px;
    background-color: gray;
}

/* Stylisé la partie de l'image */
figure {
    margin: 0;
}

figure img {
    max-width: 900px;
}

figcaption {
    font-size: 0.9em;
    padding: 10px;
}

/* Stylisé la partie section */
section {
    background-color: gray;
}

h3 {
    font-size: 1.3em;
    margin: 50px;
    background-color: gray;
}

.center {
    max-width: 500px;
    background-color: gray;
    margin: auto;
}

.center li {
    background-color: gray;
    text-align: left;
    margin-bottom: 15px;
}

.center strong {
    background-color: gray;
}

/* Stylisé la partie du paragraphe "p" et la citation "cite" */
.slog {
    text-align: left;
    color: black;
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    font-style: italic;
}

.citation {
    margin-right: 14rem;
    background-color: gray;
}

em {
    background-color: gray;
    margin-left: 20px;
}

/* Stylisé la partie du pied de la page dont le footer */
footer {
    background-color: gray;
}

footer a {
    color: blue;
    text-decoration: none;
    background-color: gray;
}

footer a:hover {
    text-decoration: underline;
}